/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */
/* 
  Setting type to a third modular scale 
  http://www.modularscale.com/
*/

/* ===== BASE STYLES ===== */
html {
  font-size: 1.25em; /* 20px 1.25em@16px */
  line-height: 1.2em; /* 24px = 1 gridline 120% */
  padding: 1.2em 0.9em; /* 18px 4:3 ratio */
}
h1 {
  font-size: 1.69em; /* 33.8px@20px   */
  line-height: 1.42em; /* 48px @33.8px em*/
  padding-bottom: 0.75em; /* 36px @48px 4:3 ratio */
}

h2 {
  font-size: 1.2em; /* 24px @20px */
  line-height: 1.2em; /* 28.8px @24px 120% */
  padding-bottom: 0.75em; /* 21.6px @28.8px 4:3 ratio */
  
}

p,
ul {
  padding-bottom: 1.2em; /* 24px */
}

li {
  padding-bottom:0.6em; /* 12px = half gridline */
}

li:last-child {
  padding-bottom:0;
}

/* ===== LAYOUT STYLES ===== */

/* ===== MODULAR STYLES ===== */

/* ===== STATE STYLES ===== */